body {
	width: 960px;
	margin: 0 auto;
	background: url("../images/full_bg.jpg") fixed top center no-repeat;
	font-family: helvetica, arial, trebuchet, sans-serif;
	}
	
a {
	outline: 0;
	}

ul, ol {
	padding: 0px;
	margin: 0;
	} 
	
hr {
	border: none;
	border-top: 2px dotted #d8d8d8;
	height: 1px;
	}
	
nav ul {
	margin: 10px auto;
	text-align: center;
	height: 40px;
	border-bottom: dotted 3px #fff;
	padding: 0px;
	}

nav li {
	display: inline;
	background: #fff;
	text-align: center;
	margin: 0 5px;
	}

nav a {
	background: #fff;
	padding: 10px;
	color: #71c014;
	}

nav a:hover {
	background: #000;
	padding: 10px;
	}
	
nav a:visited {
	color: #71c014;
	padding: 10px;
	}
	
.wrapper {
	background: #fff url("../images/fabric_plaid.jpg");
	margin: 0px, auto;
	padding: 20px;
	}

h1 {
	background: url("../images/logo.png") top center no-repeat;
	font-family: 'Euphoria Script', cursive;
	font-weight: 100;
	font-size: 120px;
	padding: 100px 0 20px 0;
	color: #fff;
	text-align: center;
	margin: 10px auto;
	text-shadow: 2px 2px 2px #5e3218;
	}
	
h2 {
	font-family: 'Euphoria Script', cursive;
	font-weight: 100;
	font-size: 50px;
	padding: 20px 0 10px 0;
	color: #000;
	text-align: center;
	margin: 10px auto;
	}
	
.intro {
	font-family: 'Euphoria Script', cursive;
	font-weight: 100;
	font-size: 28px;
	color: #fff;
	padding: 10px;
	background: rgba(113, 192, 20, .83);
	margin: 10px 0;
	text-align: center;
	}

.description {
	text-align: center;
	color: #666;
	}