body {
	width: 100%;
	margin: 0 auto;
	background: #fff url("../images/fabric_plaid.jpg") fixed;
	font: 100%/1.5 "Helvetica Neue", Arial, Trebuchet, Sans-serif;
	font-weight: 200;
	}
	
a {
	outline: 0;
	}
	
hr {
	border: none;
	border-top: 2px dotted #d8d8d8;
	height: 1px;
	clear:both;
	}

img {
	float: right;
	border: 1px solid #e4e4e4;
	padding: 1.0416666666667%;
	margin: 0 auto;
	max-width: 100%;
	}

.container img {
	width: 44.7916666666667%;
	}
	
nav ul {
	margin: 0 auto;
	list-style-type: none;
	width: 320px;
	overflow: hidden;
	padding: 0;
	}

nav li {
	background: #fff;
	width: 100px;
	float:left;
	margin: 1%;
	}

nav a {
	text-decoration: none;
	text-align: center;
	display: block;
	background: #fff;
	padding: 0;
	height: 35px;
	color: #71c014;
	line-height: 2em;
	}

nav a:hover {
	background: #666;
	}
	
nav a:visited {
	color: #71c014;
	}
	
#wrapper {
	background: #fff;
	margin: 0 auto;
	padding: 2.083333333%;
	width: 80%;
	-moz-border-radius: 3px;
	max-width: 960px;
	}

h1 {
	background: url("../images/logo.png") top center no-repeat;
	font-family: 'Euphoria Script', cursive;
	font-weight: 100;
	font-size: 6.5em;
	padding: 100px 0 20px 0;
	color: #666;
	text-align: center;
	margin: 10px auto;
	text-shadow: 2px 2px 2px #fff;
	line-height: 1.2em;
	}
	
h2 {
	font-family: 'Euphoria Script', cursive;
	font-weight: 100;
	font-size: 3.5em;
	padding: 10px 0 0 0;
	color: #71c014;
	text-align: center;
	margin: 0 auto;
	}

h3 {
	font-family: 'Euphoria Script', cursive;
	font-weight: 100;	
	font-size: 3em;
	margin: 10px 0;
	}

h4 {
	font-size: 1.5em;
	font-weight: 100;	
	margin: 10px 0 3px 0;
	padding: 0;
	color: #666;
	}

p {
	margin: 0 0 10px 0;
	color: #666;
	}
	
.intro {
	font-family: 'Euphoria Script', cursive;
	font-weight: 100;
	font-size: 1.75em;
	color: #fff;
	padding: 5px 2.083333333%;
	background: rgba(113, 192, 20, .83);
	margin: 10px auto;
	text-align: center;
	width: 80%;
	-moz-border-radius: 3px;
	max-width: 960px;
	}

.intro p {
	color: #fff;
	margin: 10px auto;
	}	

.description {
	text-align: center;
	color: #666;
	padding: 0 0 10px 0;
	font-size: 1.15em;
	}
	
.wrapper ul {
	padding: 0;
	margin: 0 0 0 2.083333333%;
	-moz-column-count: 3;
	text-align: left;
	color: #666;
	list-style-type: circle;
	} 
	
#ingredients ul {
	-moz-column-count: 1;
	}

.wrapper ol {
	padding: 0;
	margin: 0 0 0 2.083333333%;
	text-align: left;
	color: #666;
	} 

#places a {
	color:#71c014;
	}

.special {
	-moz-column-count: 3;
	color: #666;
	}
	
footer p {
	color: #b7b7b7;
	text-align: center;
	}

.guide {
	float: left;
	}
	
.notify {
	float: right;
	max-width: 50%;
	}

table {
	border-collapse: collapse;
	width: auto;
	table-layout: auto;
	}

th {
	text-align: left;
	padding: 1em;
	border-bottom: 1px solid #666;
	text-transform: uppercase;
	font-weight:100;
	color: #71c014;
	background: url("../images/brillant.png") top repeat #fff;
	border-bottom: 1px solid #c2c2c2 }

td {
	text-align: left;
	padding: 1em;
	color: #666;
	}	
	
.odd
	{
	background: url("../images/brillant.png") top repeat #fff;
	}

aside {
	float: right;
	}

.button {
	background: #71c014;
	background:-moz-linear-gradient(top, #71c014 50%, #67b10f 50%);
    border: 2px solid #86d727;
    color: #fff;
    font-size: 2em;
    padding: 2%;
	font-family: 'Euphoria Script', cursive;
    -moz-border-radius: 4px;
    margin: 20px 0;
}

.formfield {
	padding: 5%;
	background: url("../images/brillant.png") top repeat #fff;
	height:	185px;
	margin-bottom: 20px;
	}

.formfield input {
	width: 100%;
	float: right;
	height: 30px;
	border-top: 1px solid #D8D8D8;
	border-left: 1px solid #D8D8D8;	
	margin-bottom: 5px;
	}

.formfield span {
	float: left;
	display: block;
	color: #666;
	}


/* media queries 
==================================================*/

@media screen and (min-width:768px) and (max-width: 960px) {
	.container img {width: 53%;}
	.wrapper ul {-moz-column-count: 2;}
	.intro p {font-size: 1.15em;}
	.notify {float: none;}

}

@media only screen and (min-width: 480px) and (max-width:767px) {
	h1 {font-size: 5em;}
	.wrapper ul {-moz-column-count: 1;} 
	.container img {width: 57%;}	
	.special {-moz-column-count: 1;}
	.notify {float: none;}
}

@media only screen and (max-width:479px) {
	h1 {font-size: 4em; padding: 100px 0 0 0; line-height:.9em;}
	h3 {font-size: 2.5em; text-align:center;}
	.container img {width: 97%; float: none;}	
	.wrapper ul {-moz-column-count: 1;} 
	.special {-moz-column-count: 1;}
	.intro p {font-size: .95em;}
	nav li {width: 80%; float: none; margin: 3px auto;}
	nav a {background: none;}
	td {padding: .2em;}	
	.notify {float: none; max-width: 100%;}
	.guide {border-bottom: 2px dotted #D8D8D8; padding-bottom: 20px; margin-bottom: 20px;}
}